<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:include="fragments/components::header"></div>
    <title>Client Page</title>
</head>
<body>
<div style="
     display:inline-block;
        position:relative;
     top:3vh;
       left:3vh;">
    <form method="POST" th:action="@{/logout}">
        <button class="btn btn-primary btn-lg"
                type="submit"
                style="margin-top:30px">
            Log Out
        </button>
    </form>
</div>
<div class="container mt-5 h-25">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <table class="table"
               style="
            height: auto;
            width: 100%;
            overflow-y: scroll;
            "
                th:each="store :${stores}">
            <thead>
            <tr>
                <td style="text-align: center;
                font-weight: bold;
                color: seagreen;
"
                    colspan="5"><span th:text="${store.name}"></span></td>
            </tr>
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${stores.empty}">
                <td  style="text-align: center"
                     colspan="5"

                > No stores active
                </td>
            </tr>
            <tr th:each="prod :${store.storeProducts}">
                <td><span th:text="${prod.product.name}"></span></td>
                <td><span th:text="${prod.product.price}"></span></td>
                <td><span th:text="${prod.quantity}"></span></td>
                <td style="display: flex;
                       align-content: center;">
                    <form style="margin: 0px 10px"
                          method="POST" th:action="@{/client/buy(storeProductId = ${prod.id})}">
                          <!--th:action="@{/admin/store(storeId=${store.id},approve='True')}">-->
                        <label
                            th:if="${prod.quantity==0}">Out of stock</label>
                        <button class="btn btn-success" type="submit"
                                th:if="${prod.quantity!=0}">Buy</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>